@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  background: #ffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

[contentEditable=true]:empty:before{
  content:attr(data-placeholder);
  color:grey;
}